<a href="https://colab.research.google.com/github/AngelN601/cyp_2021/blob/main/CyP_26Ene2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas de Python 3
1. Es una estructura de datos lineal de 0 o n elementos.
2. "Equivalelente" a los arreglos.
3. Pueden ser de diferente tipo de dato. [1, 2, 32, 12] , [1, True, 2.34, "Hola" ]
4. Pueden ser anidados, listas de listas. ["Melón", ["manzana roja", "Manzana amarilla"]
5. Su selector es de la forma: [ int ]
6. Son mutables

In [4]:
#Ejemplos 
numeros = [4,2,54,7,83,3]
print(numeros)
print(numeros[2])

#una lista de 0 elementos
colores = [] #List()
type (colores) # Averiguar de que tipo de dato es una variable con la funcion type
dias = list ()
print(colores)
print(dias)

[4, 2, 54, 7, 83, 3]
54
[]
[]

In [19]:
#Pueden de diferente tipo de datos

mi_lista = [1,2,3,"José",False, 1.76, [552345653,44553412432,556677888]  ]
print(mi_lista)
print(mi_lista[5])
print(mi_lista[6][1])
print(mi_lista[3][3])
print(mi_lista[3][3::])
print(mi_lista[3][-1::1])
mi_lista = [1,2,3,"José",False, 1.76, ["552345653","44553412432","556677888"]  ]
print(str(mi_lista[6][1])[2])

[1, 2, 3, 'José', False, 1.76, [552345653, 44553412432, 556677888]]
1.76
44553412432
é
é
é
5

In [23]:
frutas = ["melon","sandia","kiwi","aguacate","mango","platano"]
print(frutas)
frutas[0] = "Melón"
print(frutas)
frutas[1] = frutas[1].capitalize()
print(frutas)

['melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano']
['Melón', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano']
['Melón', 'Sandia', 'kiwi', 'aguacate', 'mango', 'platano']

In [44]:
# Las listas son clases por lo tanto, tienen métodos.
# Ejemplo: Append, agrega un elemento al final 
frutas = ["melon","sandia","kiwi","aguacate","mango","platano"]
frutas.append("Fresa")
print(frutas)

print("\nEjemplo de copias")
otras_frutas = frutas.copy()
print(frutas)
print(otras_frutas)
otras_frutas[0]= "Chico zapote"
print(otras_frutas)
print(frutas)
print("_______")

print("Ejemplo de exted")

colores=["rojo","verde","azul"]
frutas.extend(colores)
print(frutas)
print("_______")

print("Ejemplo insert")
print(f"tamaño de la lista={len(frutas)}")
frutas.insert(3,"Limon")
print(f"tamaño de la lista={len(frutas)}")
print(frutas)
print("_______")

print("Ejemplo remove, eliminar el kiwi")
frutas.remove("kiwi")
print(frutas)
print("_______")

print("Ejemplo del")
del frutas[2] #Operador de listas
print(frutas)

frutas.clear()
print(frutas)

['melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano', 'Fresa']

Ejemplo de copias
['melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano', 'Fresa']
['melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano', 'Fresa']
['Chico zapote', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano', 'Fresa']
['melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano', 'Fresa']
_______
Ejemplo de exted
['melon', 'sandia', 'kiwi', 'aguacate', 'mango', 'platano', 'Fresa', 'rojo', 'verde', 'azul']
_______
Ejemplo insert
tamaño de la lista=10
tamaño de la lista=11
['melon', 'sandia', 'kiwi', 'Limon', 'aguacate', 'mango', 'platano', 'Fresa', 'rojo', 'verde', 'azul']
_______
Ejemplo remove, eliminar el kiwi
['melon', 'sandia', 'Limon', 'aguacate', 'mango', 'platano', 'Fresa', 'rojo', 'verde', 'azul']
_______
Ejemplo del
['melon', 'sandia', 'aguacate', 'mango', 'platano', 'Fresa', 'rojo', 'verde', 'azul']
[]

In [57]:
cosas = ["jose",True,2,3,4,5,"pedro",1.23]
indice = 0 
a_elimitar=[]
for elemento in cosas:

  if isinstance(elemento, int):
    print("entero", elemento)
    a_elimitar.append(elemento)
  indice += 1

print(a_eliminar)
for indice in a_elimitar:
  print(indice)
  cosas.remove(indice)
print(cosas)

entero True
entero 2
entero 3
entero 4
entero 5
[True, 2, 3, 4, 5]
True
2
3
4
5
['jose', 'pedro', 1.23]

In [79]:
#slicing sobre listas
frutas = ["melon","sandia","kiwi","aguacate","mango","platano"]

print(frutas[1:4:])

sistemas_operativos = ["Windows","mac OS", "Linux", "Android"]
autos = ["Ford", "Mazda", "Honda"]

cosas = [sistemas_operativos, autos]
print(cosas)
print(cosas[1])
print(cosas[0][1])
print(cosas[0][3][2:5:1])
print(cosas[1][1][-2:-5:-1])

['sandia', 'kiwi', 'aguacate']
[['Windows', 'mac OS', 'Linux', 'Android'], ['Ford', 'Mazda', 'Honda']]
['Ford', 'Mazda', 'Honda']
mac OS
dro
dza