<a href="https://colab.research.google.com/github/AngelN601/cyp_2021/blob/main/Tarea_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Ejemplo 3.1

SUE1 = float (input("Primer sueldo: "))
SUE2 = float (input("Segundo sueldo: "))
SUE3 = float (input("Tercer sueldo: "))
SUE4 = float (input("Cuarto sueldo: "))
SUE5 = float (input("Quinto sueldo: "))
SUE6 = float (input("Sexto sueldo: "))
SUE7 = float (input("Septimo sueldo: "))
SUE8 = float (input("Octavo sueldo: "))
SUE9 = float (input("Noveno sueldo: "))
SUE10 = float (input("Decimo sueldo: "))

Nomina = SUE1 + SUE2 + SUE3 + SUE4 + SUE5 + SUE6 + SUE7 + SUE8 + SUE9 + SUE10

print(f"La nomina fue de:", Nomina)

Primer sueldo: 10
Segundo sueldo: 20
Tercer sueldo: 30
Cuarto sueldo: 40
Quinto sueldo: 50
Sexto sueldo: 40
Septimo sueldo: 30
Octavo sueldo: 20
Noveno sueldo: 10
Decimo sueldo: 50
La nomina fue de: 300.0

In [9]:
#Ejeplo 3.1 (Estructura repetitiva)

nom = 0
nomina = 0

for i in range(1, 11):
   nom = float(input(f"Ingrese el sueldo {i} "))

   nomina += nom
print(f"La nomina fue de: {nomina}")

Ingrese el sueldo 1 10
Ingrese el sueldo 2 20
Ingrese el sueldo 3 30
Ingrese el sueldo 4 40
Ingrese el sueldo 5 50
Ingrese el sueldo 6 40
Ingrese el sueldo 7 30
Ingrese el sueldo 8 20
Ingrese el sueldo 9 10
Ingrese el sueldo 10 50
La nomina fue de: 300.0

In [26]:
#Ejemplo 3.4

SUMGAS = 0
GASTO = 0

while (GASTO > -1) or (GASTO < -1):
  GASTO = float (input(f"Ingrese el Gasto:"))

  SUMGAS += GASTO

print(f"El Gasto total fue de: $ {SUMGAS+1}")

Ingrese el Gasto:2528
Ingrese el Gasto:3500
Ingrese el Gasto:1600
Ingrese el Gasto:1850
Ingrese el Gasto:150
Ingrese el Gasto:-1
El Gasto total fue de: $ 9628.0